@import '@core/styles/mq';
@import '@core/styles/variables';

.perspectivas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1rem 0 5rem;

    &__title {
        position: absolute;
        background-color: $primary;
        padding: 1.5rem 3.5rem;
        color: $primaryLight;
        top: -2.5rem;
        z-index: 2;
    }
}
