@import '@core/styles/mq';
@import '@core/styles/variables';

.image-slider {
    display: grid;
    grid-template-columns: repeat(15, 1fr) 3rem;
    grid-template-rows: 3rem 1fr 3rem;
    background-color: $grey;

    &__navigation {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: $primary;
        padding: 3rem 0 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__controls {
        display: flex;
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        button {
            background-color: transparent;

            * {
                color: $secondary;
                font-size: 3rem;
                transition: 0.25s ease-in-out;
            }

            &:nth-child(1):hover {
                * {
                    transform: scale(1.1) translate(0, -0.05rem);
                }
            }

            &:nth-child(2):hover {
                * {
                    transform: scale(1.1) translate(-0.05rem, -0.05rem);
                }
            }
        }
    }

    &__images {
        grid-column-start: 4;
        grid-column-end: 16;
        grid-row-start: 2;
        grid-row-end: 2;
        background-color: $primaryLight;
        padding: 5rem;
        position: relative;

        &__maximize {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__slide {
        &__text {
            h2 {
                font-size: 4.5rem;
                color: $secondary;
                margin-bottom: 0.5rem;

                span {
                    text-transform: none;
                    font-size: 2.5rem;
                }
            }

            h3 {
                background-color: $secondary;
                color: $primary;
                text-transform: uppercase;
                font-size: 1.5rem;
                padding: 0.5rem 1.5rem;
                margin-bottom: 2rem;
                margin-left: -1.5rem;
                display: flex;
            }

            li {
                font-size: 1.3rem;
                color: $primaryLight;
                text-transform: uppercase;
                margin-bottom: 0.3rem;
            }
        }
    }
}
