@import '@core/styles/mq';
@import '@core/styles/variables';

.plantas {
    width: 100%;

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;

        &__background {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
            display: grid;
            grid-template-areas: 'black grey';

            &--black {
                background-color: $primary;
                grid-area: black;
            }

            &--grey {
                background-color: $grey;
                grid-area: grey;
            }
        }

        &__container {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
