@import '@core/styles/mq';
@import '@core/styles/variables';

.info {
    background-color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include md {
            flex-direction: row;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        line-height: 1.8rem;
        text-align: center;

        @include md {
            text-align: right;
        }

        &__phone,
        &__phone span {
            font-size: 18px;
            font-weight: $fontMedium;
        }
    }

    &__whatsapp {
        background-color: $green;
        display: flex;
        align-items: center;
        color: $primaryLight;
        text-transform: uppercase;
        padding: 0.8rem;
        letter-spacing: 0.2rem;
        margin-top: 1.5rem;
        transition: 0.25s ease-in-out;

        @include md {
            margin-top: 0;
            margin-left: 4rem;
            padding: 1rem 1.5rem;
        }

        span {
            font-size: 12px;

            @include md {
                font-size: 14px;
            }
        }

        &__icon {
            font-size: 24px;
            margin-right: 0.5rem;

            @include md {
                margin-right: 1.5rem;
            }
        }

        &:hover {
            filter: brightness(1.1);
        }
    }
}
