@import '@core/styles/mq';
@import '@core/styles/variables';

.button-icon {
    background-color: $primary;
    color: $secondary;
    padding: 1rem;
    border: none;
    line-height: 0;
    cursor: pointer;

    * {
        font-size: 2.3rem;
        transition: 0.25s ease-in-out;
    }

    &:hover {
        * {
            transform: translateY(-0.1rem) translateX(-0.1rem) scale(1.1);
        }
    }

    &--isDisabled {
        filter: grayscale(1);
        opacity: 0.3;
        cursor: unset;

        &:hover {
            * {
                transform: unset !important;
            }
        }
    }

    &--hasNoPadding {
        padding: 0;
    }
}
