@import '@core/styles/mq';
@import '@core/styles/variables';

.contact-link {
    background-color: $primaryLight;
    position: fixed;
    bottom: 0;
    right: 4rem;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
    animation: bottom 0.5s ease-in-out forwards;
    transition: 0.25s ease-in-out;

    &:hover {
        padding-bottom: 1.5rem;
    }

    &__icon {
        font-size: 24px;
        color: $secondary;
    }

    &__text {
        display: flex;
        flex-direction: column;
        font-weight: $fontLight;
        text-transform: uppercase;
        color: $primary;
        margin-right: 1rem;

        span {
            font-size: 0.8rem;
            display: block;
        }

        &__title {
            font-weight: $fontSemiBold;
            font-size: 1rem !important;
        }
    }
}
