@import '@core/styles/mq';
@import '@core/styles/variables';

.empreendimento {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 2rem;

    @include sm {
        padding-bottom: 5rem;
    }

    &__container {
        display: flex;
        justify-content: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(16, 1fr);

        &__text {
            grid-column-start: 1;
            grid-column-end: 17;
            grid-row-start: 1;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include sm {
                grid-column-start: 1;
                grid-column-end: 12;
                align-items: unset;
            }

            @include lg {
                grid-column-end: 10;
            }

            h2 {
                margin-bottom: 2rem;
                text-align: center;

                @include sm {
                    text-align: left;
                }

                @include md {
                    margin-bottom: 4rem;
                }
            }
        }

        &__mosaic {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 1fr 8rem;

            @include sm {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            &__item {
                margin: 0 0.1rem 0.2rem;

                @include lg {
                    margin: 0 0.5rem 0.5rem 0;
                }

                &:nth-child(4) {
                    @include sm {
                        grid-column-start: 2;
                    }
                }

                &:nth-child(5) {
                    grid-column-start: 1;
                    grid-column-end: 3;

                    @include sm {
                        grid-column-start: 3;
                    }
                }
            }
        }

        &__image {
            grid-column-start: 1;
            grid-column-end: 17;
            grid-row-start: 2;

            @include sm {
                grid-column-start: 11;
                grid-row-start: 1;
            }

            @include md {
                grid-column-start: 9;
            }
        }
    }

    &__modal {
        &__container {
            margin-bottom: 2rem;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin-bottom: 1rem;

                    strong {
                        margin-right: 0.5rem;
                        font-weight: $fontSemiBold;
                    }
                }
            }
        }
    }
}

.grid-box {
    background-color: $secondary;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include lg {
        width: 240px;
        height: 240px;
        padding: 2rem 1.5rem;
    }

    @include xl {
        width: 260px;
        height: 260px;
    }

    &--button {
        background-color: $primary;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;

        svg {
            transform: translate(0, 0) rotate(0deg);
            transition: 0.25s ease-in-out;
        }

        &:hover {
            svg {
                transform: translate(0, 0) rotate(90deg);
            }
        }

        @include sm {
            flex-direction: column;
        }

        h3 {
            font-weight: $fontLight !important;
            color: $primaryLight;
        }
    }

    &__icon {
        height: 32px;
        margin: 2rem 0;
        color: $secondary;
        font-size: 64px;

        @include md {
            height: 64px;
        }
    }

    h3 {
        text-transform: uppercase;
        font-weight: $fontSemiBold;
    }

    p {
        margin-top: 0.2rem;
    }
}
