@import '@core/styles/mq';
@import '@core/styles/variables';
@import '@core/styles/animations';

.header {
    width: 100vw;
    background: $primary;
    display: flex;
    flex-direction: column;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 10;

    @include sm {
        align-items: unset;
    }

    @include lg {
        align-items: center;
    }

    &__logo {
        width: 160px;

        @include sm {
            width: 180px;
        }

        @include lg {
            width: unset;
        }

        img {
            width: 100%;

            @include lg {
                width: unset;
            }
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;

        @include lg {
            padding: unset;
        }
    }

    &__menu {
        display: none;

        @include lg {
            display: unset;
        }

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            color: $primaryLight;
            font-weight: $fontLight;
            text-transform: uppercase;
            padding: 3rem 1.5rem 3.5rem;
            display: block;
            position: relative;

            &::before {
                background-color: $secondary;
                height: 1px;
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                display: block;
                content: '';
                transition: 0.25s ease-in-out;
            }

            &:hover,
            &.active {
                &::before {
                    width: 100%;
                }
            }
        }
    }

    &__loader {
        position: absolute;
        bottom: -3px;
        height: 3px;
        width: 100vw;

        &::after {
            background-color: $secondary;
            display: block;
            content: '';
            height: 3px;
            animation: load 1s ease-in-out forwards;
        }
    }

    &__mobile {
        @include lg {
            display: none;
        }

        &__button {
            z-index: 11;
            position: absolute;
            right: 1rem;
            top: 2.2rem;
        }

        &__drawer {
            position: fixed;
            z-index: 10;
            width: 100%;
            max-width: 380px;
            top: 0;
            right: -100vw;
            bottom: 0;
            padding: 5rem 3rem;
            background-color: $primaryLight;
            transition: 0.25s ease-in-out;

            &--open {
                box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
                right: 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0 0 2rem;

                    a {
                        color: $primary;
                        font-size: 1.3rem;
                        padding: 0 1rem 0.5rem 0;
                        font-weight: $fontLight;
                        border-bottom: 2px solid $secondary;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
