@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import 'mq';
@import 'variables';
@import 'animations';

html {
    scroll-behavior: smooth;
}

body {
    &.window-blocked {
        overflow: hidden;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: $fontLight;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;

    @include sm {
        font-size: 14px;
    }
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    letter-spacing: 0.2rem;
    font-size: 26px;
    text-transform: uppercase;

    @include sm {
        letter-spacing: 0.3rem;
        font-size: 30px;
    }

    @include lg {
        letter-spacing: 0.4rem;
        font-size: 38px;
    }

    * {
        letter-spacing: 0.2rem;
        font-size: 26px;
        text-transform: uppercase;

        @include sm {
            letter-spacing: 0.3rem;
            font-size: 32px;
        }

        @include lg {
            font-size: 38px;
        }
    }
}

h2 {
    letter-spacing: 0.2rem;
    font-size: 24px;
    text-transform: uppercase;

    @include sm {
        letter-spacing: 0.3rem;
        font-size: 28px;
    }

    @include lg {
        letter-spacing: 0.4rem;
        font-size: 36px;
    }

    * {
        letter-spacing: 0.2rem;
        font-size: 24px;
        text-transform: uppercase;

        @include sm {
            letter-spacing: 0.3rem;
            font-size: 28px;
        }

        @include lg {
            font-size: 36px;
        }
    }
}

section {
    width: 100vw;
}
