@import '@core/styles/mq';
@import '@core/styles/variables';

.plantas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey;

    @include md {
        background-color: unset;
    }

    &__container {
        margin: 2.5rem 0;

        @include md {
            margin: unset;
        }
    }
}
