@import '@core/styles/mq';
@import '@core/styles/variables';
@import '@core/styles/animations';

.cover {
    background-color: $primary;
    padding: 6rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 5rem;

        @include sm {
            padding: 2rem;
            flex-direction: row;
        }

        @include lg {
            padding: unset;
            justify-content: center;
            align-items: center;
        }
    }

    &__image {
        align-self: flex-start;
        flex-basis: 100%;
        width: 100%;
        position: relative;

        @include sm {
            opacity: 0;
            animation: fadeIn 1s ease-in-out forwards;
        }

        @include lg {
            flex-basis: 660px;
        }

        &__spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0.8);
        }
    }

    &__box {
        background-color: $secondary;
        align-self: center;
        padding: 4rem 3rem;
        margin-top: -1rem;
        z-index: 2;

        @include sm {
            margin-top: unset;
            padding: 6rem 3.5rem;
        }

        h1,
        span {
            color: $primary;
            font-weight: $fontLight;
            text-transform: uppercase;
        }

        span {
            color: $primaryLight;
        }
    }
}
